<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flask O Restaurants</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="pane">
	<div class="header">
		<h1>List of Restaurants</h1>
	</div>

	<a href = '#'>Create New Restaurant</a><br><br>

	<div class="flash">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li><strong> {{ message }} </strong></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<table>

		{% for r in restaurants %}
		<tr>
			<td>{{r.name}}</td>
			<td>{{r.description}}</td>
			<td>{{r.price}}</td>
			<td><a href="#">Edit</a></td>
			<td><a href="#">Delete</a></td>
		</tr>
		{% endfor %}
			
	</table>
</div>

</body>
</html>