{% extends "base.html" %}
{% block title %}Categories{% endblock %}


{% block content %}
	
<div class="pane">

<h1>New Item in Category {{category.name}}</h1>

<form action="/category/{{category.id}}/new/" method="post">
	
	<p>Title:</p>
	<input type="text" size="80" name="title" required>
	<p>Description:</p>
	<input type="text" size="250" name="description" required>
	<p></p>
	<input type="submit" value="Create" required>
	<a href="{{ url_for('showItems', category_id=category.id) }}">Cancel</a>

</form>

</div>

{% endblock %}