{% extends "base.html" %}
{% block title %}Item Detail{% endblock %}


{% block content %}

<div class="pane">
	<div class="header">
		<h1>Detail View for Item {{item.title}}</h1>
	</div>
	<h2>Category: {{category.name}}</h2>

	<div class="flash">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li><strong> {{ message }} </strong></li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	</div>

	<table>
		<tr>
			<td>{{item.id}}</td>
			<td>{{item.title}}</td>
			<td>{{item.description}}</td>
			<td>{{item.category_id}}</td>
			<td>{{item.acct_id}}</td>
		</tr>
	</table>

</div>

{% endblock %}