<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>

	<h1>List of routes to test:</h1>
	<ul>
		<li><a href="/allitems">showAllItems()</a></li>
		<li><a href="/categories">showCategories()</a> when not logged in, no [Add Item]</li>
		<li><a href="/categories">showCategories()</a> when logged in, shall have [Add Item]</li>
		<li><a href="/category/1">showItems()</a></li>
		<li><a href="/category/1/new">newItem()</a></li>
		<li><a href="/category/1/item/1/edit">editItem()</a></li>
		<li><a href="/category/1/item/1/delete">deleteItem()</a></li>
		<li><a href="/category/1/item/1/json">JSON endpoint for an item</a></li>
	</ul>
	
</body>
</html>
