{% extends "base.html" %}
{% block title %}Categories{% endblock %}


{% block content %}

<div class="pane">
	<h1>List of routes to test:</h1>
	<p>This page requires the database to have a CategoryID of 1, and an ItemID of 1.  The seed database has these records.</p>
	<table>
		<tr><td><a href="/allitems">showAllItems()</a></td></tr>
		<tr><td><a href="/categories">showCategories()</a></td></tr>
		<tr><td><a href="/category/1">showItems()</a> when not logged in, no [Add Item]</td></tr>
		<tr><td><a href="/category/1">showItems()</a> when logged in, shall have [Add Item]</td></tr>
		<tr><td><a href="/category/1/new">newItem()</a></td></tr>
		<tr><td><a href="/category/1/item/1/edit">editItem()</a></td></tr>
		<tr><td><a href="/category/1/item/1/delete">deleteItem()</a></td></tr>
		<tr><td><a href="/category/1/item/1/json">JSON endpoint for an item</a></td></tr>
	</table>
</div>	

{% endblock %}
