{% extends "base.html" %}
{% block title %}Categories{% endblock %}


{% block content %}

<div class="pane">
	<div class="header">
		<h1>List of All Categories</h1>
	</div>


	<table>
		<tr>
			<th>Category ID</th>
			<th>Category Name</th>
		</tr>

		{% for c in categories %}
		<tr>
			<td>{{c.id}}</td>
			<td>{{c.name}}</td>
			<td><a href="{{ url_for('showItems', category_id=c.id) }}">View</a></td>

		</tr>
		{% endfor %}
			
	</table>
</div>

{% endblock %}

