{% extends "base.html" %}
{% block title %}List of ALL those Items{% endblock %}


{% block content %}
<div class="pane">
	<div class="header">
		<h1>List of My Items</h1>
	</div>

	<p>To add a new item to a category, go to that category.</p>

	<table>

		<tr>
			<th>Item ID</th>
			<th>Title</th>
			<th>Description</th>
			<th>Category ID</th>
			<th>User ID</th>
		</tr>

		{% for i in items %}
		<tr>
			<td>{{i.id}}</td>
			<td>{{i.title}}</td>
			<td>{{i.description}}</td>
			<td>{{i.category_id}}</td>
			<td>{{i.acct_id}}</td>
		</tr>
		{% endfor %}
			
	</table>
</div>

{% endblock %}